/**
 * 设置属性
 *
 * @param {string} $property-name                          属性名
 * @param {any} $property-value                            属性值
 * @param {any} $property-default-value                    属性默认值
 * @param {boolean} $is-strict                             是否严格模式
 */
@mixin set-property($property-name, $property-value, $property-default-value: null, $is-strict: false) {
  @if ($property-name) {
    @if ($is-strict) {
      @if ($property-default-value and not $property-value) {
        #{$property-name}: $property-default-value;
      } @else {
        #{$property-name}: $property-value;
      }
    } @else {
      @if ((not $property-value and $property-value == true) and $property-default-value) {
        #{$property-name}: $property-default-value;
      } @else {
        #{$property-name}: $property-value;
      }
    }
  }
}

/**
 * 根据集合设置属性
 *
 * @param {map} $map                                       属性集合
 * @param {map | null} $default-map                        属性默认值集合
 * @param {boolean} $is-strict                             是否严格模式
 */
@mixin set-property-by-each-map($map: (), $default-map: null, $is-strict: false) {
  @if (type-of($map) == map) {
    @if (type-of($default-map) == map and $is-strict) {
      @each $key, $value in $map {
        @if (map-has-key($default-map, $key)) {
          $value: map-get($default-map, $key);
        }
        #{$key}: $value;
      }
    } @else {
      @each $key, $value in $map {
        #{$key}: $value;
      }
    }
  }
}

/**
 * 根据列表设置属性
 *
 * @param {string} $real-key                               真实属性名
 * @param {list} $keys-list                                属性名列表
 * @param {map} $keys-map                                  属性集合
 * @param {string} $short-key                              简写属性名
 */
@mixin set-property-by-list($real-property-name, $properties-name-list: (), $properties-map: (), $short-property-name: null) {
  @if (
          $real-property-name and
          (type-of($properties-name-list) == list and length($properties-name-list) > 0) and
          (type-of($properties-map) == map)
  ) {
    @if (
            (index($properties-name-list, $real-property-name) != null or index($properties-name-list, $short-property-name) != null)
            and map-has-key($properties-map, $real-property-name)
    ) {
      #{$real-property-name}: map-get($properties-map, $real-property-name);
    } @else if (index($properties-name-list, $short-property-name) != null and map-has-key($properties-map, $short-property-name)) {
      #{$real-property-name}: map-get($properties-map, $short-property-name);
    }
  }
}

/**
 * 根据类型设置属性
 */
@mixin set-property-by-type($mixin-name) {

}

/**
 * 设置单个属性
 *
 * @param {string} $property-name                          属性名
 * @param {any} $property-value                            属性值
 * @param {any} $property-default-value                    属性默认值
 * @param {boolean} $is-strict                             是否严格模式
 */
@mixin mixin-property($property-name, $property-value, $property-default-value: null, $is-strict: false) {
  @include set-property($property-name, $property-value, $property-default-value, $is-strict);
}

/**
 * 根据属性集合设置所有属性
 *
 * @param {map} $properties-map                            属性集合
 * @param {map} $properties-default-map                    属性默认值集合
 * @param {boolean} $is-strict                             是否严格模式
 */
@mixin mixin-properties-map($properties-map, $properties-default-map: null, $is-strict: false) {
  @if (type-of($properties-map) == map) {
    @if (type-of($properties-default-map) == map and $is-strict) {
      @include set-property-by-each-map($properties-map, $properties-default-map, $is-strict);
    } @else {
      @include set-property-by-each-map($properties-map);
    }
  }
}

/**
 * 根据 属性名集合 设置属性
 *
 * @param {map} $properties-key-map                      属性名集合( 简写属性名: 真实属性名 )
 * @param {list} $properties-list                        简写属性名列表
 * @param {map} $properties-map                          属性集合
 */
@mixin mixin-properties-list($properties-key-map, $properties-list, $properties-map) {
  @if (type-of($properties-key-map) == map) {
    @each $short-key, $real-key in $properties-key-map {
      @if (index($properties-list, $short-key) != null and map-has-key($properties-map, $real-key)) {
        @include set-property-by-list($real-key, $properties-list, $properties-map, $short-key);
      }
    }
  }
}

/**
 * 获取第一个参数不是 集合 或 列表的 所有参数
 */
@function get-real-params($args...) {
  $first-param: nth($args, 1);
  //@debug type-of($first-param);
  @if (type-of($first-param) == map or type-of($first-param) == list) {
    $real-params: ();
    @each $param in $args {
      @if ($param != $first-param) {
        $real-params: append($real-params, $param);
      }
    }
    @return $real-params;
  } @else {
    @return $args;
  }
}