$shape-default-color: #333;
$shape-default-border-color: #eee;
$shape-default-border-width: 1px;
$shape-default-size: 100px;

@mixin border($width: $shape-default-border-width, $color: #333, $style: solid) {
  border-width: $width;
  border-color: $color;
  border-style: $style;
}

@mixin shape-rect($width: $shape-default-size, $height: $shape-default-size) {
  width: $width;
  height: $height;
}

@mixin shape-fill-rect($width, $height, $color: $shape-default-color) {
  @include shape-rect($width, $height);
  background-color: $color;
}

@mixin shape-border-rect($width, $height, $color: $shape-default-color, $border-width: $shape-default-border-width) {
  @include shape-rect($width, $height);
  @include border($border-width, $color);
}

@mixin vertical-line($color, $width: 1px){
  @include shape-fill-rect($width, 100%, $color);
}

@mixin horizontal-line($color, $height: 1px){
  @include shape-fill-rect(100%, $height, $color);
}

@mixin shape-circle($radius: $shape-default-size) {
  width: $radius;
  height: $radius;
  border-radius: 50%;
}

@mixin shape-fill-circle($radius, $color: $shape-default-color) {
  @include shape-circle($radius);
  background-color: $color;
}

@mixin shape-border-circle($radius, $color: $shape-default-color, $border-width: $shape-default-border-width) {
  @include shape-circle($radius);
  @include border($border-width, $color);
}

@mixin shape-isosceles-triangle($width: $shape-default-size, $color: $shape-default-color, $angle: 0) {
  width: 0;
  height: 0;
  border-top: $width solid $color;
  border-right: $width solid transparent;
  border-bottom: $width solid transparent;
  border-left: $width solid transparent;
  transform: rotate(#{$angle}deg);
}

@mixin shape-right-triangle($width: 200px, $color: $shape-default-color, $angle: 0) {
  width: 0;
  height: 0;
  border-top: $width solid $color;
  border-right: $width solid $color;
  border-bottom: $width solid transparent;
  border-left: $width solid transparent;
  transform: rotate(#{$angle}deg);
}
