$wrapper-default-width: auto;
$wrapper-default-min-width: auto;
$wrapper-default-max-width: auto;
$wrapper-default-width: ($wrapper-default-max-width $wrapper-default-min-width $wrapper-default-max-width);
$wrapper-default-height: auto;
$wrapper-default-min-height: auto;
$wrapper-default-max-height: auto;
$wrapper-default-height-list: ($wrapper-default-height $wrapper-default-min-height $wrapper-default-max-height);

/**
 * 设置容器长宽
 *
 * params {width | height} $property-name
 * params {string | number | list} $property-value
 */
@mixin wrapper-size($property-name, $property-value) {
  @if ($property-name) {
    @if (type-of($property-value) == list) {
      $length: length($property-value);
      @if ($length == 1) {
        #{$property-name}: nth($property-value, 1);
      } @else if ($length == 2) {
        $min-property-name: min-#{$property-name};
        #{$property-name}: nth($property-value, 1);
        #{$min-property-name}: nth($property-value, 2);
      } @else if ($length == 3) {
        $min-property-name: min-#{$property-name};
        $max-property-name: max-#{$property-name};
        #{$property-name}: nth($property-value, 1);
        #{$min-property-name}: nth($property-value, 2);
        #{$max-property-name}: nth($property-value, 3);
      }
    } @else if ($property-value) {
      #{$property-name}: #{$property-value}
    }
  }
}

@mixin wrapper-margin() {
}

@mixin wrapper-padding() {
}

// 引入 overflow.scss
@mixin wrapper-overflow() {
}

// 引入 border.scss
@mixin wrapper-border() {
}

@mixin wrapper(
  $width: $wrapper-default-width,
  $height: $wrapper-default-height,
) {

}
